%h1 Finanz
%h2= raw "Controle melhor as suas finanças sabendo #{content_tag :strong, "onde"} você gasta, #{content_tag :strong, "quando"} você gasta e #{content_tag :strong, "quanto"} você gasta."
.login
  %hr
  = link_to "Entre com a sua conta do Facebook", "/auth/facebook"
  %hr
