<table>
  <tr>
    <td>Data</td>
    <td>Origem</td>
    <td>Histórico</td>
    <td>Data do balancete</td>
    <td>Documento</td>
    <td>Valor</td>
  </tr>

  <% @import.each_with_index do |v,k| %>

    <tr>
      <td><%= "#{v[0]}" %></td>
      <td><%= "#{v[1]}" %></td>
      <td><%= "#{v[2].force_encoding('utf-8')}" %></td>
      <td><%= "#{v[3].force_encoding('utf-8')}" %></td>
      <td><%= "#{v[4].force_encoding('utf-8')}" %></td>
    </tr>

  <% end %>

</table>
