= form_for @import, :multipart => true do |form|
  %h2 Nova importação
  = form.label :file
  = form.file_field :file
  = form.submit "Importar", :class => "btn"

.most_spended_entities
  %h2 Lugares onde se gasta mais
  %table
    - current_user.transactions.where("entity_id IS NOT NULL").group(:entity_id).sum(:value).sort{|x, y| x[1]<=>y[1]}[0..9].map{|x| [Entity.find(x[0]), x[1]]}.each_with_index do |entity, i|
      %tr{:class => "rank_#{i}"}
        %td= "##{i + 1}"
        %td= entity[0].name
        %td= number_to_currency entity[1]
