!!!
%html
  %head
    %title Finanz
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => 'http://fonts.googleapis.com/css?family=Concert+One', :rel => 'stylesheet', :type => 'text/css'}

  %body{:class => "#{controller.controller_name} #{controller.action_name}"}
    %section
      .row
        %header
          %h1 Finanz
          .user= "Olá #{current_user.name}" if current_user
    %section
      .row
        .notice= notice if notice
        .content= yield
